.header {
    width: 100%;
}

.taskbar,
.navbar,
.notification {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.taskbar {
    z-index: 2;
}

.navbar {
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.notification {
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #555;
}

.placeholder {
    height: 4rem;
    /* Adjust to the height of your second layer */
}